body {
    padding: 10px;
}

table{
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding: 10px 0;
}

img{
    max-width: 100%;
    max-height: 100%;
}

#comment h6,
#comment span {
    display:inline;
    vertical-align:top;
    margin-right: 50px;
}

#comment p{
    margin-top: 15px;
}

#comment div{
    border: 5px solid #140101
}

.container{
    margin-left: 0px;
}

#comment-field{
 width: 800px;
 height: 145px;   
}
