{% extends "auctions/layout.html" %}

{% block title %} {{ listing.title }} {% endblock %}

{% block body %}
    <h1>{{ listing.title }}</h1>

    <!-- Watchlist -->
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'update_watchlist' listing.id %}" class="form-inline">
            {% csrf_token %}
            {% if listing in request.user.watchlist.all %}
                <input class='btn btn-secondary btn-sm' type='submit' value='Remove from Watchlist' />
            {% else %}
                <input class='btn btn-secondary btn-sm' type='submit' value='Add to Watchlist' />
            {% endif %}
        </form>

        {% if listing.listing_img %}
            <img style="width: 30%; height:10%" class="my-2" src="{{ listing.listing_img.url }}">
        {% endif %}

        <p> {{ listing.description }} </p>
    
    <!-- Bids -->
        <form method="POST" class='form-group' action="{% url 'bid' listing.id %}">
            {% csrf_token %}
            <h2>${{ curr_bid }}</h2>
            {{ bid_form }}
            <input class='btn btn-secondary btn-sm' type='submit' value='Add Bid' />
        </form>
    
    <!-- Comments -->
        <div class="container">
            <div class='row' style="margin-bottom: 15px">
                <div>
                    <h4>{{ comments|length }} Comments</h4>
                </div>
            </div>

            <div id="comments-list">
                {% for comment in comments %}
                    <div id="comment">
                        <h6>{{ comment.user }}</h6>
                        <span>{{ comment.create_time }}</span>
                        <br>
                        <p>{{ comment.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div>
        <form method='POST' class='form-group'  action="{% url 'comment' listing.id %}">
            {% csrf_token %}
            {{ comment_form }}
            <br>
            <input id='comment-button' class='btn btn-secondary btn-sm' type='submit' value='Comment' />
        </form>
        </div>

    <!-- Messages -->
            {% if messages %}
            
                {% for msg in messages %}
                <script>
                    alert('{{ msg }}')
                </script>
                {% endfor %}
            {% endif %}
    {% endif %}
{% endblock %}